         <section id="section-events" aria-label="section" class="no-padding bg-color">
            <div class="container-fluid">
                <div class="row no-gutters align-items-center">
                    <div class="col-lg-3 text-center text-light">
                        <h3 class="padding40 no-margin">Последние статьи</h3>
                    </div>
                    <div class="col-lg-9">
                        <div id="training-carousel" class="owl-carousel owl-theme">
                            {{#each articles}}
                                <div class="item">
                                    <div class="mask s2">
                                        <div class="m-date">
                                           {{getDay this.date}}<span>{{getMonth this.date}}</span>
                                        </div>
                                        <div class="cover">
                                            <a href="/article?article={{this.number}}">
                                                <div class="c-inner">
                                                    <h3><i class="fa fa-circle-thin"></i><span>{{this.title}}</span></h3>
                                                    <p>{{this.previewText}}</p>
                                                    <div class="spacer20"></div>
                                                    <a href="/article?article={{this.number}}" class="btn-custom capsule">Подробнее</a>
                                                </div>
                                            </a>
                                        </div>
                                        <img src="{{this.previewImageUrl}}" alt="{{this.title}}" class="img-responsive" />
                                    </div>
                                </div>
                            {{/each}}


                           





{{!-- 
                            <div class="item">
                                <div class="mask s2">
                                    <div class="m-date">22 <span>Oct</span></div>
                                    <div class="cover">
                                        <div class="c-inner">
                                            <h3><i class="fa fa-circle-thin"></i><span>Настроение на собеседовании</span></h3>
                                            <a href="event-single-1.html"><p>Собеседование — это всегда волнительно. Узнайте, как управлять своими эмоциями перед встречей с работодателем.</p></a>
                                            <div class="spacer20"></div>
                                            <a href="event-single-1.html" class="btn-custom capsule">Подробнее</a>
                                        </div>
                                    </div>
                                    <img src="images/services/1.jpg" alt="" class="img-responsive" />
                                </div>
                            </div>

                            <div class="item">
                                <div class="mask s2">
                                    <div class="m-date">15 <span>Oct</span></div>
                                    <div class="cover">
                                        <div class="c-inner">
                                            <h3><i class="fa fa-circle-thin"></i><span>Сотрудничество с HTML-academy</span></h3>

                                            <a href="event-single-2.html"><p>Уважаемые коллеги! Рады сообщить,что теперь мы сотрудничаем с интерактивными онлайн-курсами и центром карьеры HTML-Academy.</p></a>
                                            .</p></a>
                                            <div class="spacer20"></div>
                                            <a href="event-single-2.html" class="btn-custom capsule">Подробнее</a>
                                        </div>
                                    </div>
                                    <img src="images/services/2.jpg" alt="" class="img-responsive" />
                                </div>
                            </div>


                            <div class="item">
                                <div class="mask s2">
                                    <div class="m-date">12 <span>Oct</span></div>
                                    <div class="cover">
                                        <div class="c-inner">
                                            <h3><i class="fa fa-circle-thin"></i><span>Что такое hard и soft skills?</span></h3>
                                            <a href="event-single-3.html"> <p>Hard skills и soft skills - это профессиональные навыки и личностные качества. Какая разница между ними и что к ним относится? Разбираем</p></a>
                                            <div class="spacer20"></div>
                                            <a href="event-single-3.html" class="btn-custom capsule">Подробнее</a>
                                        </div>
                                    </div>
                                    <img src="images/services/3.jpg" alt="" class="img-responsive" />
                                </div>
                            </div>
                            <div class="item">
                                <div class="mask s2">
                                    <div class="m-date">05 <span>Oct</span></div>
                                    <div class="cover">
                                        <div class="c-inner">
                                            <h3><i class="fa fa-circle-thin"></i><span>Когда в опыте работы есть пробелы</span></h3>
                                            <a href="event-single-4.html"> <p>Учеба, декретный отпуск, служба в армии, пенсия, смена профессии... Как объяснить работодателю пробелы в трудовом стаже в резюме? </p></a>
                                            <div class="spacer20"></div>
                                            <a href="event-single-4.html" class="btn-custom capsule">Подробнее</a>
                                        </div>
                                    </div>
                                    <img src="images/services/4.jpg" alt="" class="img-responsive" />
                                </div>
                            </div>
                            <div class="item">
                                <div class="mask s2">
                                    <div class="m-date">03 <span>Oct</span></div>
                                    <div class="cover">
                                        <div class="c-inner">
                                            <h3><i class="fa fa-circle-thin"></i><span>Карьерный рост: от стажера до ИТ-директора</span></h3>
                                            <a href="event-single-5.html"> <p> Какие факторы нужны, чтобы повысить эффективность IT-специалиста для перехода на более высокую позицию?</p></a>
                                            </p>
                                            <div class="spacer20"></div>
                                            <a href="event-single-5.html" class="btn-custom capsule">Подробнее</a>
                                        </div>
                                    </div>
                                    <img src="images/services/5.jpg" alt="" class="img-responsive" />
                                </div>
                            </div>
                            <div class="item">
                                <div class="mask s2">
                                    <div class="m-date">01 <span>Oct</span></div>
                                    <div class="cover">
                                        <div class="c-inner">
                                            <h3><i class="fa fa-circle-thin"></i><span>Мотивируй себя сам</span></h3>
                                            <a href="event-single-6.html"> <p>Мотивация подталкивает к достижению целей и конечно же дает ощущение гордости своими результатами. Как мотивировать себя правильно?</p></a>
                                            <div class="spacer20"></div>
                                            <a href="event-single-6.html" class="btn-custom capsule">Подробнее</a>
                                        </div>
                                    </div>
                                    <img src="images/services/6.jpg" alt="" class="img-responsive" />
                                </div>
                            </div> --}}
                        </div>
                    </div>
                </div>
            </div>
        </section>